.searchBar {
    min-width: 320px;
    align-items: center;
}

.search-box {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: transparent;
    height: 2.5rem;
}

#search-box-inner:focus {
    outline: none;
}

#search-button {
    width: 169.333px;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
    font-size: 100%;
}