.Track-action-add {
    width: 30px;
    height: 20px;
    padding: 15px 10px 15px 10px;
    margin: 20px;
    background-color: rgb(255, 118, 239);
    background-image: url('./Plus\ icon\ for\ Jamming.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    box-sizing: content-box;
    border-radius: 25%;
}

.Track {
    background-color: black;
    padding: 5px 50px 0 50px;
}

.Track-information {
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    background-color:rgb(255, 118, 239);
}