.searchResults {
    display: flex;
    max-width: fit-content;
    flex-direction: column; 
    background-color: rgb(255, 0, 191);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}

h2 {
    font-family: 'Audiowide';
    background-color: rgb(255, 0, 191);
    position:sticky;
}