* {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  margin: auto;
  padding-top: 10px;
}

.Title {
  outline: solid black 1px;
}

.App {
  outline: solid black 1px;
}
.App-playlist {
  outline: solid black 1px;
}
