* {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  margin: auto;
  padding-top: 10px;
  background-color: rgb(89, 50, 230);
}

h1 {
  padding-bottom: 20px;
}

.Title {
  font-family: 'Audiowide', sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: rgb(224, 50, 230);
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  display: flex;
  color: black;
  outline: solid black 5px;
}



.App {
  display: inline-flexbox;
}
/* .App-playlist {
  outline: solid orange 1px;
} */
