.TrackList {
    max-height: 600px;
    overflow-y: scroll;
    max-width: 460px;
    outline: solid rgb(255, 0, 191) 10px;
    border-radius: 5px;
    padding: 10px;
}

.TrackList ::-webkit-scrollbar {
   color: red;
}