.TrackList {
    max-height: 600px;
    overflow-y: auto;
    max-width: 460px;
    outline: solid rgb(224, 50, 230) 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
}

.TrackList ::-webkit-scrollbar {
   color: red;
}